@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body{
   
    color: #224;
    background:
      url(https://source.unsplash.com/E8Ufcyxz514/2400x1823);
    height: 94vh;
    width:95vw;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: 'roboto', cursive;
    letter-spacing: 5px;
}
h2{
    text-align: left;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Young Serif', serif;
    letter-spacing: 3px;
}
.head{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.right{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.left{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

}
.box{
    background-color: #dcd9d9;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin:30px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
}
table{
    border-collapse: collapse;
    width: 100%;
    color: #000;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
    margin-top: 50px;
    scroll-padding: 10px;
    padding: 10px;
}
.box h3{
    font-size: 30px;
    font-family: 'Young Serif', serif;
    letter-spacing: 3px;
    color: #000;

}
input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
input[type=submit]:hover{
    background-color: #000;
    color:#dcd9d9;

}
input[type=text],[type=password], textarea{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}